In [2]:
import numpy as np
import pandas as pd

data = pd.read_csv('/kaggle/input/students-performance-in-exams/StudentsPerformance.csv')
data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [4]:
data.shape

(1000, 8)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [11]:
cols = ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']
for col in cols:
    print(f"{col}: {data[col].unique()}")

gender: ['female' 'male']
race/ethnicity: ['group B' 'group C' 'group A' 'group D' 'group E']
parental level of education: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
lunch: ['standard' 'free/reduced']
test preparation course: ['none' 'completed']

In [10]:
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [12]:
math = data['math score'].values
reading = data['reading score'].values
writing = data['writing score'].values

In [19]:
print("Math\nMean:", np.mean(math))
print("Median:", np.median(math)) 
print("Std:", np.std(math))
print("Min:", np.min(math))
print("Max:", np.max(math))

Math
Mean: 66.089
Median: 66.0
Std: 15.155496659628149
Min: 0
Max: 100

In [21]:
print("Reading\nMean:", np.mean(reading))
print("Median:", np.median(reading)) 
print("Std:", np.std(reading))
print("Min:", np.min(reading))
print("Max:", np.max(reading))

Reading
Mean: 69.169
Median: 70.0
Std: 14.592890015346516
Min: 17
Max: 100

In [23]:
print("Writing\nMean:", np.mean(writing))
print("Median:", np.median(writing)) 
print("Std:", np.std(writing))
print("Min:", np.min(writing))
print("Max:", np.max(writing))

Writing
Mean: 68.054
Median: 69.0
Std: 15.188057281956768
Min: 10
Max: 100

In [25]:
math_above_80 = np.sum(math > 80)
print("\nStudents with math > 80:", math_above_80)

Students with math > 80: 176

In [27]:
below_50_any = np.sum((math < 50) | (reading < 50) | (writing < 50))
print("Students with any score < 50:", below_50_any)

Students with any score < 50: 188

In [28]:
overall_avg = np.mean([math, reading, writing])
print("Overall average score across all subjects:", overall_avg)

Overall average score across all subjects: 67.77066666666667

In [29]:
data.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [35]:
data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [37]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [38]:
data.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [40]:
gender_group = data.groupby('gender').agg(
    avg_math=('math score', 'mean'),
    avg_reading=('reading score', 'mean'),
    avg_writing=('writing score', 'mean'),
    student_count=('gender', 'count')
)
print("1. Group by Gender:\n", gender_group, "\n")

1. Group by Gender:
          avg_math  avg_reading  avg_writing  student_count
gender
female  63.633205    72.608108    72.467181            518
male    68.728216    65.473029    63.311203            482

In [41]:
testprep_group = data.groupby('test preparation course').agg(
    avg_math=('math score', 'mean'),
    avg_reading=('reading score', 'mean'),
    avg_writing=('writing score', 'mean')
)
print("2. Group by Test Preparation Course:\n", testprep_group, "\n")

2. Group by Test Preparation Course:
                           avg_math  avg_reading  avg_writing
test preparation course
completed                69.695531    73.893855    74.418994
none                     64.077882    66.534268    64.504673

In [43]:
parent_group = data.groupby('parental level of education').agg(
    avg_math=('math score', 'mean')
).sort_values(by='avg_math', ascending=False)
print("3. Group by Parental Education (Ranked by Math):\n", parent_group, "\n")

3. Group by Parental Education (Ranked by Math):
                               avg_math
parental level of education
master's degree              69.745763
bachelor's degree            69.389831
associate's degree           67.882883
some college                 67.128319
some high school             63.497207
high school                  62.137755

In [44]:
lunch_group = data.groupby('lunch').agg(
    avg_math=('math score', 'mean'),
    avg_reading=('reading score', 'mean'),
    avg_writing=('writing score', 'mean'),
    student_count=('lunch', 'count')
)
print("4. Group by Lunch Type:\n", lunch_group, "\n")

4. Group by Lunch Type:
                avg_math  avg_reading  avg_writing  student_count
lunch
free/reduced  58.921127    64.653521    63.022535            355
standard      70.034109    71.654264    70.823256            645

In [45]:
avg_math_by_gender = data.groupby('gender')['math score'].mean()
math_diff = avg_math_by_gender['male'] - avg_math_by_gender['female']
print("1. Average Math Score by Gender:\n", avg_math_by_gender)
print("   Difference (Male - Female):", math_diff, "\n")

1. Average Math Score by Gender:
 gender
female    63.633205
male      68.728216
Name: math score, dtype: float64
   Difference (Male - Female): 5.095011134430216

In [46]:
overall_avg = {
    'Math': data['math score'].mean(),
    'Reading': data['reading score'].mean(),
    'Writing': data['writing score'].mean()
}
overall_avg_sorted = dict(sorted(overall_avg.items(), key=lambda x: x[1], reverse=True))
print("2. Overall Subject Averages (Highest to Lowest):\n", overall_avg_sorted, "\n")

2. Overall Subject Averages (Highest to Lowest):
 {'Reading': 69.169, 'Writing': 68.054, 'Math': 66.089}

In [47]:
data['total score'] = data['math score'] + data['reading score'] + data['writing score']
parent_impact = data.groupby('parental level of education')['total score'].mean().sort_values(ascending=False)
print("3. Average Total Score by Parental Education (Ranked):\n", parent_impact, "\n")

print("   Highest performing parental education level:", parent_impact.idxmax())

3. Average Total Score by Parental Education (Ranked):
 parental level of education
master's degree       220.796610
bachelor's degree     215.771186
associate's degree    208.707207
some college          205.429204
some high school      195.324022
high school           189.290816
Name: total score, dtype: float64

   Highest performing parental education level: master's degree